.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-self: center;
    width: fit-content;
}

.row{
    display: flex;
}

.pixel{
    height: 10px;
    width: 10px;
}

h1{
    text-align: center;
}